* {
    box-sizing: border-box;
    padding: 0;
}

/* set background color */

body {
    background-color: #F5C2B7;
}

/* anchor color */
a {
    color: #ffffff;
    text-decoration: none;
}

/* anchor underline when hover */
a:hover {
    text-decoration: underline;
}

/* paragraph text size */
p {
    font-size: 16px;
}

/* About me box and content styling */
#Info {
    background-color: rgb(17, 16, 16);
    color: #ffffff;
    display: box;
    padding: 20px;
    margin: 15px;
}

/* work section box and content styling */
#Work {
    background-color: rgb(17, 16, 16);
    color: #ffffff;
    display: box;
    padding: 20px;
    margin: 15px;
    height: 900px;
}

/* setting anchor text style and color */
#footer a {
    color: black;
    font-size: 20px;
}

/* text styling for work section */
#Work div {
    text-align: center;
    display: inline-block;
    font-family: Garamond, serif;
    color: #ffffff;
}

/* image sizing for images of work websites */
#Work img {
    width: 250px;
    height: 300px;
    margin: 35px;
    
}

/* images larger when hover */
#Work img:hover {
    width: 325px;
    height: 475px;
    margin: 5px;
}

/* header box and text styling */
.header {
    padding: 20px;
    font-family: Garamond, serif;
    background-color: black;
    color: #ffffff;
    height: 125px;
}

/* main header text styling */
.header h1 {
    display: inline-block;
    font-size: 48px;
    color: #d9dcd6;
}

/* header image made it a circle */
.header img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }

/* Nav styling and formatting text, list and box */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: Garamond, serif;
    font-size: 25px;
}

/* no style for nav list and format for list items */
.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* content box, items and header text */
.content {
    width: 96%;
    display: inline-block;
    margin-left: 20px;
    padding: 25px;
}

.content h3 {
    text-align: center;
    font-size: 30px;
}

/* about me box and text styling */
.info {
    margin-bottom: 20px;
    padding: 10px;
    height: 150px;
    width: 300px;
    font-family: Garamond, serif;
    color: #ffffff;
}

/* contact info is in footer this is all the text and box styling */
.footer {
    padding: 30px;
    clear: both;
    font-family: Garamond, serif;
    text-align: center;
}

.footer h2 {
    font-size: 25px;
}

.footer li   {
    list-style: none;
}

/* making page accessable */
@media screen and (max-width: 1486px) {
    #Work {
        height: 1250px;
    }
}   