* {
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: #F5C2B7;
}

#Info {
    background-color: black;
    color: #ffffff;
    display: box;
    padding: 20px;
    margin: 15px;
}

#Notes {
    width: 400px;
    height: 300px;
    background-color: black;
    color: #ffffff;
    display: box;
    padding: 20px;
    margin: 15px;
    display:inline-block;
}

#Horiseon {
    width: 400px;
    height: 300px;
    background-color: black;
    color: #ffffff;
    display: box;
    padding: 20px;
    margin: 15px;
    display:inline-block;
}


/* Nav anchor colors */
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

#footer a {
    color: black
}

#Info img {
    width: 70px;
    height: 40px;
}

#Notes img {
    width: 40px;
    height: 50px;
}

#Horiseon img{
    width: 50px;
    height: 50px;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color: #ffffff;
}

/* Title styling */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

/* Nav styling and formatting text, list and box */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.content {
    width: 96%;
    display: inline-block;
    margin-left: 20px;
    padding: 25px;
}

/* Content text styling and box formatting */
.info {
    margin-bottom: 20px;
    padding: 10px;
    height: 150px;
    width: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: #ffffff;
}

.notes {
    margin-bottom: 20px;
    padding: 10px;
    height: 150px;
    width: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: #ffffff;
}

.header img {
    border-radius: 50%;
  }

.horiseon {
    margin-bottom: 20px;
    padding: 10px;
    height: 150px;
    width: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: #ffffff;
}

/* Content heading styling */
.info h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.notes h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.horiseon h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    display:inline-block;
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
